/* dede58.com 做最好的织梦模板 */
.main .banner {
	margin:34px 0;
	height:117px;
	width:100%;
	background:#f2f2f2 url(../images/banner.jpg) no-repeat;
	background-size:100% 117px;
}
.main .mainContent .title {
	color:#333333;
	font-size:16px;
	line-height:32px;
}
.main .mainContent ul {
	padding:16px 0;
	margin-left:20px;
}
.main .mainContent ul li {
	font-size:14px;
	line-height:26px;
	color:#666;
	list-style:disc;
}
.main .mainFoot {
	padding:60px 0;
	text-align:center;
}
.main .mainFoot .child {
	display:inline-block;
*display:inline;
*zoom:1;
	padding:46px 0;
	width:48%;
	text-align:left;
}
.main .mainFoot .child .content {
	width:355px;
	margin:0 auto;
}
.main .mainFoot .child .childImg {
	border:1px solid #e3e3e3;
	margin:0 auto;
	width:156px;
	height:156px;
	line-height:156px;
	text-align:center;
	border-radius:156px;
	-moz-border-radius:156px;
	-ms-border-radius:156px;
	-o-border-radius:156px;
	-webkit-border-radius:156px;
}
.main .mainFoot .child .childImg {
	transition-duration: .5s;
	-ms-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .5s;
}
.main .mainFoot .child .childImg:hover {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-ms-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}
.main .mainFoot .child .childImg img {
	vertical-align:middle;
}
.main .mainFoot .child .childTitle {
	line-height:56px;
	color:#333333;
	font-size:16px;
}
.main .mainFoot .child .childInfo {
	color:#777;
	line-height:22px;
	font-size:14px;
}
.main .mainFoot .child#child1 {
	border-right:1px dashed #dfdfdf;
	border-bottom:1px dashed #dfdfdf;
}
.main .mainFoot .child#child2 {
	border-bottom:1px dashed #dfdfdf;
}
.main .mainFoot .child#child3 {
	border-right:1px dashed #dfdfdf;
}
@media (max-width: 639px) {
.main .banner {
	margin:10px 0;
	height:39px;
	width:100%;
	background:#f2f2f2 url(../images/banner.jpg) no-repeat;
	background-size:100% auto;
}
.main .mainContent .title {
	font-size:14px;
	line-height:20px;
}
.main .mainContent ul {
	padding:10px 0;
	margin-left:20px;
}
.main .mainContent ul li {
	font-size:12px;
	line-height:20px;
}
.main .mainFoot {
	padding:10px 0 0 0;
}
.main .mainFoot .child {
	padding:24px 0;
	width:100%;
}
.main .mainFoot .child .content {
	width:80%;
	margin:0 auto;
}
.main .mainFoot .child .childImg {
	width:156px;
	height:156px;
	line-height:156px;
	border-radius:156px;
	-moz-border-radius:156px;
	-ms-border-radius:156px;
	-o-border-radius:156px;
	-webkit-border-radius:156px;
}
.main .mainFoot .child .childTitle {
	line-height:30px;
	font-size:14px;
}
.main .mainFoot .child .childInfo {
	line-height:18px;
	font-size:12px;
}
.main .mainFoot .child#child1 {
	border-bottom:1px dashed #dfdfdf;
	border-right:0;
}
.main .mainFoot .child#child2 {
	border-bottom:1px dashed #dfdfdf;
}
.main .mainFoot .child#child3 {
	border-bottom:1px dashed #dfdfdf;
	border-right:0;
}
}
@media (min-width: 640px) and (max-width:1023px ) {
.main .banner {
	margin:20px 0;
	height:58px;
	width:100%;
	background:#f2f2f2 url(../images/banner.jpg) no-repeat;
	background-size:100% auto;
}
.main .mainContent .title {
	font-size:16px;
	line-height:32px;
}
.main .mainContent ul {
	padding:16px 0;
	margin-left:20px;
}
.main .mainContent ul li {
	font-size:14px;
	line-height:26px;
}
.main .mainFoot {
	padding:20px 0 0 0;
}
.main .mainFoot .child {
	padding:46px 0;
	width:100%;
}
.main .mainFoot .child .content {
	width:80%;
	margin:0 auto;
}
.main .mainFoot .child .childImg {
	width:156px;
	height:156px;
	line-height:156px;
	border-radius:156px;
	-moz-border-radius:156px;
	-ms-border-radius:156px;
	-o-border-radius:156px;
	-webkit-border-radius:156px;
}
.main .mainFoot .child .childTitle {
	line-height:56px;
	font-size:16px;
}
.main .mainFoot .child .childInfo {
	line-height:22px;
	font-size:14px;
}
.main .mainFoot .child#child1 {
	border-bottom:1px dashed #dfdfdf;
	border-right:0;
}
.main .mainFoot .child#child2 {
	border-bottom:1px dashed #dfdfdf;
}
.main .mainFoot .child#child3 {
	border-bottom:1px dashed #dfdfdf;
	border-right:0;
}
}
@media (min-width: 1024px) and (max-width:1199px ) {
}
@media (min-width: 1200px) and (max-width:1439px ) {
}
@media (min-width: 1440px) and (max-width:1920px ) {
}
