/* dede58.com 做最好的织梦模板 */
.main .socialInfo {
	font-size:14px;
	line-height:20px;
	color:#666;
	padding:26px 0 50px 0;
}
.main .content {
	border-top:1px solid #e2e2e2;
	padding:20px 0 42px 0;
}
.main .content:after {
	content: "020";
	display: block;
	height: 0;
	clear: both;
	visibility:hidden;
}
.main .content .child {
	float:left;
	width:194px;
	margin-right:100px;
	text-align:center;
}
.main .content .child .childImg {
	padding:26px 0;
	text-align:center;
}
.main .content .child .childImg img {
	vertical-align:middle;
}
.main .content .child .childTitle {
	color:#666;
	font-size:14px;
	line-height:22px;
}
@media (max-width: 639px) {
.main .socialInfo {
	font-size:12px;
	line-height:20px;
	padding:14px 0 30px 0;
}
.main .content {
	padding:10px 0 20px 0;
	text-align:center;
}
.main .content .child {
	display:inline-block;
*display:inline;
*zoom:1;
	float:none;
	width:194px;
	margin:0 50px;
	text-align:center;
}
.main .content .child .childImg {
	padding:26px 0;
}
.main .content .child .childTitle {
	font-size:12px;
	line-height:20px;
}
}
@media (min-width: 640px) and (max-width:1023px ) {
.main .socialInfo {
	font-size:14px;
	line-height:20px;
	padding:26px 0 50px 0;
}
.main .content {
	padding:20px 0 42px 0;
}
.main .content .child {
	display:inline-block;
*display:inline;
*zoom:1;
	float:none;
	width:194px;
	margin:0 50px;
	text-align:center;
}
.main .content .child .childImg {
	padding:26px 0;
}
.main .content .child .childTitle {
	font-size:14px;
	line-height:22px;
}
}
@media (min-width: 1024px) and (max-width:1199px ) {
}
@media (min-width: 1200px) and (max-width:1439px ) {
}
@media (min-width: 1440px) and (max-width:1920px ) {
}
